* {
    margin: 0; 
}

#shopMenu {
    position: fixed;
    top: 50vh;
    right: 50vw;
    transform: translate(50%, -50%);
    scale: 1;
}

#fullShopImg {
    width: 1000px;
    height: 600px;
}

#monstersMenuImg {
    position: fixed; 
    right: 53%;
    bottom: 25%;
    scale: 0.4;
}

#menuCostumeImg {
    position: fixed; 
    right: 34%;
    bottom: 25%;
    scale: 0.47;
}

#structureImg {
    position: fixed; 
    right: 15%;
    bottom: 25%;
    scale: 0.47;
}

#menuDecorationsImg {
    position: fixed; 
    left: 54%;
    bottom: 25%;
    scale: 0.47;
}

#menuCurrencyImg {
    position: fixed; 
    right: 53%;
    top: 25%;
    scale: 0.47;
}

#menuStarImg {
    position: fixed; 
    right: 40%;
    top: 34.5%;
    scale: 0.5;
}

#menuIslandImg {
    position: fixed; 
    right: 14.5%;
    top: 23.5%;
    scale: 0.46;
}

#menuAdImg {
   position: fixed; 
    right: 5%;
    top: 40%;
    scale: 0.6;
}

#menuWikiAdImg {
     position: fixed; 
    right: 4%;
    top: 42%;
    scale: 0.3;
}

#menuGithubAdImg {
    position: fixed; 
    right: 8%;
    top: 38%;
    scale: 0.25;
}